body {
    font-family: 'Zen Maru Gothic', sans-serif;
    font-weight: 900;
    font-size: 1em;

    display: grid;

    grid-template-areas: 
    "header header header"
    "nav nav nav"
    "main main main"
    "footer footer footer";
}

header  {
    grid-area: header;
    background-color: #378fae;
    font-size: 1em;

}

nav ul{
    display: flex;
    justify-content: end;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 100px;

}

nav ul li{
    padding: 10px;
    list-style-type: none;
}

header a {
    color: white;
    text-decoration: none;

}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
}

nav li:hover {
    transform: scale(1.2);
    text-decoration: underline;
}

.titulo {
    margin-right: 88%;
}

.titulo:hover {
    color: #378fae;
    scale(1.2);
}
